@using Application.MVC.Commons.Models;
@using Domain.MVC.Entities;
@model IEnumerable<EmployeeDto>;
@{
    ViewData["Title"] = "Index";
    PaginatedList paginatedList = new PaginatedList();
    int pageNo = 0;
    if (ViewBag.PaginatedList != null)
    {
        paginatedList = ViewBag.PaginatedList;
        pageNo = paginatedList.CurrentPage;
    }
}

<h1>Customers</h1>

<p>
    <a asp-action="Create" data-bs-toggle="modal" data-bs-target="#createEmployee" class="btn btn-sm btn-success ml-1">Create New</a>
</p>

<partial name="_pager" model="@paginatedList"/>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName);
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department.Name);
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary);
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate);
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FullName</td>
                <td>@employee.Department.Name</td>
                <td>@employee.Salary</td>
                <td>@employee.HireDate</td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@employee.Id" data-edit="@employee.Id" data-bs-toggle="modal" data-bs-target="#editEmployee" class="btn btn-sm btn-primary ml-1">Edit</a>
                        @*<a asp-action="Details" asp-route-id="@employee.Id" class="btn btn-sm btn-primary ml-1">Details</a>*@
                        <a asp-action="Delete" asp-route-id="@employee.Id" data-remove="@employee.Id" data-bs-toggle="modal" data-bs-target="#deleteEmployee" class="btn btn-sm btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_pager" model="@paginatedList" />

<!-- Update -->
<div class="modal fade" id="editEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/Employee/Update" method="post">
                    <div class="mb-3">
                        <label for="EmployeeId" class="col-form-label">Employee Id</label>
                        <input type="text" name="EmployeeId" readonly class="form-control" id="recipient-name">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Full name</label>
                        <input type="text" class="form-control" id="txtFullName" placeholder="full name...">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Department</label>
                        <select class="form-select" id="cboDepartment"></select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Salary</label>
                        <input type="text" class="form-control" id="txtSalary" placeholder="salary...">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Hire Date</label>
                        <input type="date" class="form-control" id="txtHireDate">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary button-save-changes-employee" onclick="updateEmployee()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Create -->
<div class="modal fade" id="createEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/Employee/Create" method="post">
                    <div class="mb-3">
                        <label class="form-label">Full name</label>
                        <input type="text" class="form-control" id="txtFullName" placeholder="full name...">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Department</label>
                        <select class="form-select" id="cboDepartment"></select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Salary</label>
                        <input type="text" class="form-control" id="txtSalary" placeholder="salary...">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Hire Date</label>
                        <input type="date" class="form-control" id="txtHireDate">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary button-save-changes-employee" onclick="updateEmployee()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete -->
<div class="modal fade" id="deleteEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/Employee/Delete" method="post">
                    <div class="mb-3">
                        <label for="EmployeeId" class="col-form-label">Employee Id</label>
                        <input type="text" name="EmployeeId" readonly class="form-control" id="recipient-name">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="cancelremove" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Yes remove it!</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">

        var editEmployeeModal = document.getElementById('editEmployee')
        editEmployeeModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            var recipient = button.getAttribute('data-edit')

            var modalTitle = editEmployeeModal.querySelector('.modal-title')

            var modalBodyInput = editEmployeeModal.querySelector('.modal-body input')

            modalTitle.textContent = 'Edit for user ' + recipient
            modalBodyInput.value = recipient

        })


        var createEmployeeModel = document.getElementById('createEmployee')
        createEmployeeModel.addEventListener('show.bs.modal', function(event){

        })


        var deleteEmployeeModal = document.getElementById('deleteEmployee')
        deleteEmployeeModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            var recipient = button.getAttribute('data-remove')

            var modalTitle = deleteEmployeeModal.querySelector('.modal-title')

            var modalBodyInput = deleteEmployeeModal.querySelector('.modal-body input')

            modalTitle.textContent = 'Remove user ' + recipient
            modalBodyInput.value = recipient

        })


        function hideRow(rowId) {
            var row = document.getElementById(rowId);
            row.style.display = "none";
            const btn = document.getElementById("cancelremove");
            btn.addEventListener("click", function () {
                row.style.display = "table-row";
            });

        }

        function updateEmployee() {
            // Submit the form
            updateForm.submit();
        }
    </script>
}


